<div class="form-container">
  <h1 class="greeting">
    Mini Messageboard
  </h1>

  <p>
    <small>
        <strong>
          create a new message
        </strong>
      </small>
  </p>

  <form method="POST" action="/new">
    <textarea name="text" cols="23" rows="5" class="txt" placeholder="User's message"></textarea>
    <button class="btn">
      submit
    </button>
  </form>
</div>