<div class="form-container">
  <h1 class="greeting">
    Mini Messageboard
  </h1>

  <p>
    <small>
        <strong>
          create a new message
        </strong>
      </small>
  </p>

  <form action="POST" action="/new">
    <input type="text" placeholder="User's name" name="name" class="inp">
    <textarea name="text" cols="23" rows="5" class="txt" placeholder="User's message"></textarea>
    <button class="btn">
      submit
    </button>
  </form>
</div>