<div class="container">
  <h1 class="greeting">
    Mini Messageboard
  </h1>

  <p>
    Sign up or Log in to access the site
  </p>

  <div class="signin-login">
    <span class="h-btn"> 
      <a href="/register">Sign Up</a>
    </span>

    <span class="h-btn">
      <a href="/login">Log in</a>
    </span>
  </div>
</div>