<div class="container">
  <h1 class="greeting">
    Mini Messageboard
  </h1>

  <span>
    <a href='/new'>add a message</a>
  </span>

  <span class="logout">
    <a href="/logout">Log out</a>
  </span>

  {{#each messages}}
    <article>
      <p>
        {{text}}
      </p>
      <p>
        by <strong>{{user.username}}</strong>
      </p>

      <p>
        <small>
          {{added}}
        </small>
      </p>
    </article>
  {{/each}}
</div>