<div class="container">
  <span>
    <a href='/new'>add a message</a>
  </span>

  {{#each messages}}
    <article style="border-bottom: 1px solid rgb(151, 137, 137); margin: 0px; width: 540px;">
      <p>
        {{text}}
      </p>
      <p>
        by <strong>{{user}}</strong>
      </p>

      <p>
        <small>
          {{added}}
        </small>
      </p>
    </article>
  {{/each}}
</div>