<div class="form-container">
  <h1 class="greeting">
    Mini Messageboard
  </h1>

  <h2>
    <strong>
      Log in
    </strong>
  </h2>

  {{#if login}}
  <p>
    <strong>
      {{login}}
    </strong>
  </p>

    <form method="POST" action="/login">

    <div class="r-div">
       <label for="username">Username</label>
      <input type="text" name="username" id="username" class="r-inp">
    </div>

    <div class="r-div">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="r-inp">
    </div>
    
    <button class="btn">
      Log in
    </button>
  </form>

  {{else}}

    <form method="POST" action="/login">

    <div class="r-div">
       <label for="username">Username</label>
      <input type="text" name="username" id="username" class="r-inp">
    </div>

    <div class="r-div">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="r-inp">
    </div>
    
    <button class="btn">
      Log in
    </button>
  </form>
  {{/if}}


</div>