<div class="form-container">
  <h1 class="greeting">
    Mini Messageboard
  </h1>

  <p>
    <strong>
      Sign up
    </strong>
  </p>

  <form method="POST" action="/register">

    <div class="r-div">
       <label for="username">Username</label>
      <input type="text" name="username" id="username" class="r-inp">
    </div>

    <div class="r-div">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="r-inp">
    </div>
    
    <button class="btn">
      Sign up
    </button>
  </form>
</div>